<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Admob Ids -->
    <!-- Rename this file to admob_ids.xml and replace with your own AdMob IDs -->
    <string name="admob_app_id">ca-app-pub-XXXXXXXXXXXXXXXX~XXXXXXXXXX</string>
    <string name="admob_banner_ad_unit_id">ca-app-pub-XXXXXXXXXXXXXXXX/XXXXXXXXXX</string>
    <string name="admob_interstitial_ad_unit_id">ca-app-pub-XXXXXXXXXXXXXXXX/XXXXXXXXXX</string>
</resources>